<div style = "display: grid; grid-template-columns: 1fr 1fr; gap: 3%; align-items: center; background-color: white; border-radius: 1em; margin-top: 8vh; padding: 1.2em">


  <div>

    <div style="display: grid; grid-template-columns: auto auto;">

      <div style="font-size: 1.6em" class="font-mono"><%= @project.title %></div>
      <div style=" display: flex; justify-content: flex-end; color: grey"><%= @project.date %></div>

    </div>

   <div class="show-hashtags" style="display: flex; flex-wrap: wrap;">
      <% hashtags = string_to_array(@project.hashtags, ",") %>
      <% hashtags.each do |hashtag| %>
      <div class="show-hashtag border-blau font-mono"><%=hashtag%></div>


      <%# <div class="show-hashtag border-vermell"><%=hashtag%>
      <% end %>
    </div>

    <div class="font-sans" style="margin-top: 0.7em">
      <%= @project.description %>
    </div>
  </div>


  <div id="image-container">
    <% images = string_to_array(@project.images, ",") %>
    <%= image_tag(images[0], style: "margin: auto", id: "main-image") %>
    <div id="small-images">
    <% images.each do |image|%>
    <%= image_tag(image, style: "margin: auto")%>
    <% end%>

    </div>
  </div>


    <img src="https://via.placeholder.com/300" style="">


</div>
