<div style = "display: grid; grid-template-columns: 1fr 1fr; gap: 3%; align-items: center;  margin-top: 8vh; ">


  <div style= "padding: 1em 1em 1em 1em; background-color: white; border-radius: 1em;">

    <div style="display: grid; grid-template-columns: auto auto; ">

      <div style="font-size: 1.6em" class="font-mono"><%= @project.title %></div>
      <div style=" display: flex; justify-content: flex-end; color: grey" class="font-mono"><%= @project.date %></div>

    </div>

   <div class="show-hashtags" style="display: flex; flex-wrap: wrap;">
      <% hashtags = string_to_array(@project.hashtags, ",") %>
      <% hashtags.each do |hashtag| %>
      <div class="show-hashtag border-blau font-mono"><%=hashtag%></div>


      <%# <div class="show-hashtag border-vermell"><%=hashtag%>
      <% end %>
    </div>

    <div class="font-sans" style="margin-top: 0.7em">
      <%= @project.description %>
    </div>
  </div>


  <div id="image-container" style="width: 100%; margin: auto">
    <% images = string_to_array(@project.images, ",") %>
    <%= image_tag(images[0], style: "margin: auto; width: 100%", id: "main-image") %>
    <div id="small-images">
    <% images.each do |image|%>
    <%= image_tag(image, class: "small-image", style: "width: 4em; height: 4em; margin: 0.1em; border: 4px solid white;")%>
    <% end%>

    </div>
  </div>
</div>

<script>
smallImages = document.querySelectorAll(".small-image")
mainImage = document.querySelector("#main-image")

for (let i = 0; i < smallImages.length; i++) {
  smallImages[i].addEventListener('click', function() {
    mainImage.src = smallImages[i].src
    //console.log(smallImages[i].src)
    // Your event handler logic here
  });
}
</script>
