<!DOCTYPE html>
<html>
  <head>
    <title>Porfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="width: 90%; margin: auto;">

    <%# <a href="/"><header class="blau">gabriel ardèvol — web development</header></a> %>

    <div id= "">

      <div id="leftside"></div>



      <div>
        <%= yield %>
      </div>

      <div id="rightside"></div>

    </div>

  </body>


  <script>

//   contingut = "<div class='menu'> \
//         <% ['about me','projects','contact'].each do |word|%> \
//         <a href='/<%=word%>'>\
//         <div class='menu-option'> \
//             <%= word %> \
//           </div> \
//         <% end %> \
//         </a>\
//       </div>"

//   rightside = document.getElementById("rightside");
//   leftside = document.getElementById("leftside");
//   leftside.innerHTML = contingut;


//   document.addEventListener("mousemove", function(event) {
//     var x = event.pageX;
//     if(x <= (window.innerWidth / 4)){
//         leftside.innerHTML = contingut;
//         rightside.innerHTML = ""
//     }else if(x >= (window.innerWidth - (window.innerWidth / 4))){
//        rightside.innerHTML = contingut; leftside.innerHTML = ""
//     }
//     //var y = event.pageY;

// });
  </script>
</html>
